---
layout: page
---

<header>
  <h2 class="page-title">Category: {{ page.title | default: page.name }}</h2>
  {% if page.description %}
    <p class="page-description">{{ page.description }}</p>
  {% endif %}
</header>

<main>
  {% assign category_name = page.title | default: page.name %}
  {% assign category_key = category_name | downcase | replace: '_', '-' %}

  <div id="post-list" class="flex-grow-1 px-xl-1">
    {% for post in site.posts | sort: 'date' | reverse %}
      {% assign matched = false %}
      {% for post_category in post.categories %}
        {% assign post_category_key = post_category | downcase | replace: '_', '-' %}
        {% if post_category_key == category_key %}
          {% assign matched = true %}
        {% endif %}
      {% endfor %}

      {% if matched %}
        <article class="card-wrapper card">
          <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
            {% if post.image %}
              <div class="col-md-5">
                <div class="preview-img shimmer">
                  <img src="{{ post.image | relative_url }}" alt="Preview Image" loading="lazy">
                </div>
              </div>
            {% endif %}

            <div class="{% if post.image %}col-md-7{% else %}col-12{% endif %}">
              <div class="card-body d-flex flex-column">
                <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

                <div class="card-text content mt-0 mb-3">
                  <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</p>
                </div>

                <div class="post-meta flex-grow-1 d-flex align-items-end">
                  <div class="me-auto">
                    <i class="far fa-calendar fa-fw me-1"></i>
                    <time data-ts="{{ post.date | date: '%s' }}" data-df="ll">{{ post.date | date: "%b %-d, %Y" }}</time>

                    {% if post.categories %}
                      <i class="far fa-folder-open fa-fw me-1"></i>
                      <span class="categories">{{ post.categories | join: ', ' }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</main>
