<article id="about" class="panel">
    <header>
        <h2>Highlights</h2>
    </header>
    <p>
        <span class = "about-container">
            <param>
                <span class="fa-stack">
                    <span class="fa fa-square-o fa-stack-2x"></span>
                    <span class="fa fa-briefcase fa-stack-1x"></span>
                </span>
                <a href="#" class="toggle-default" id="toggle-experience">Experience </a>
            </param>
            <param>
                <span class="fa-stack">
                    <span class="fa fa-square-o fa-stack-2x"></span>
                    <span class="fa fa-terminal fa-stack-1x"></span>
                </span>
                    <a href="#" id="toggle-languages">Languages</a>
            </param>
            <param>
                <span class="fa-stack">
                    <span class="fa fa-square-o fa-stack-2x"></span>
                    <span class="fa fa-code fa-stack-1x"></span>
                </span>
                    <a href="#" id="toggle-projects">Projects</a>
            </param>
            <param>
                <span class="fa-stack">
                    <span class="fa fa-square-o fa-stack-2x"></span>
                    <span class="fa fa-balance-scale fa-stack-1x"></span>
                </span>
                    <a href="#" id="toggle-hobbies">Hobbies</a>
            </param>
        </span>
    </p>

    <div class="fader" id="experience"><p>I am currently in the Computer Science B.S. program at RIT and intend on graduating in May of 2018 (2014-2018). I have worked for one year at a company called EnerNOC at the Rochester office after my freshman year and worked with an excellent team. I gained an immense amount of experience in the field of software engineering and was exposed to the latest technologies while here. I will be on an internship soon for Cerner stationed in Malvern, PA.</p></div>
    <div class="fader" id="languages">Java, C#, C/C++, Javascript (primarily Node.js, Angular Exposure), Python, SQL and anything else I need to get the job done.</div>
    <div class="fader" id="projects">The majority of the projects I am working on are available on <a href = "http://github.com/joebartelmo">github</a>. The highlights are a software package we referred to as "goddard"; I worked with a team of imaging scientists at RIT to build a Robot for SpaceX and this is the result. You can view the project more in detail <a href = "http://hyperloop.rit.edu">here</a>. Additionally, I frequent projects that are centered around file structures: various editors and parsers for abstract storage systems.</div>
    <div class="fader" id="hobbies">Guitar, violin, tinkering, Magic the Gathering, RPG games and spontaneous programming projects.</div>
</article>

